/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */


html, body {width: 100%; min-height: 500px; min-width: 300px; padding: 0; margin: 0; }
body {font-family: "Arial", sans-serif; font-size: 12px; background: url("/background.jpg"); background-size: cover;}
.wrapper {max-width: 900px; margin: 20px auto 0; padding: 20px; color: #000; border-radius: 20px; background: #fff;}

.header {height: 100px; border-bottom: 2px solid #000;}
.logo {display: block; float: left; width: 100px; margin-top: 5px;}
.header h1 {text-align: right; float: right; font-size: 40px; margin: 0 100px; line-height: 100px;}
.content {min-height: 500px;}

.footer {border-top: 2px solid #000;}
.copy {font-size: 10px; font-weight: bold;}
h2 {text-align: center;}
table {margin: 0 auto; font-size: 15px;}
td {border: 1px solid; height: 30px;}
.spelling {width: 50px; text-align: center; font-weight: bold;}
.translate {width: 200px;}
.show, .edit, .delete {border: none; width: 50px; text-align: center;} 
.btn-crud {display: inline-block; width: 40px; color: #fff; background: #000; font-size: 12px; 
	padding: 2px 0px; border-radius: 3px; text-decoration: none;}
.btn-crud:hover {padding: 4px; font-weight: bold; font-size: 13px;}
.btn-show:hover {background-color: rgba(0, 153, 0, 1);}
.btn-edit:hover {background-color: #0000cc;}
.btn-delete:hover {background-color: #f00;}



.field_with_errors {padding: 2px; background-color: red; display: table;}



.btn-crud {
	transition: background-color 0.5s;
}
